{% extends "base.html" %}

{% block title %}Painel Administrativo{% endblock %}

{% block content %}
<body>
    <header class="bg-primary text-white py-3">
        <div class="container">
            <h1 class="h3">Adicionar Cliente - OAtelier</h1>
        </div>
    </header>

    <main class="container my-5">
        <h2>Cadastro de Cliente</h2>
        <form action="{{ url_for('add_cliente') }}" method="POST" style="display:inline;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                {{ form.nome(class="form-control") }}
            </div>
            <div class="mb-3">
                <label for="endereco" class="form-label">Endereço</label>
                {{ form.endereco(class="form-control") }}
            </div>
            <div class="mb-3">
                <label for="cep" class="form-label">CEP</label>
                {{ form.cep(class="form-control") }}
            </div>
            <div class="mb-3">
                <label for="cpf" class="form-label">CPF</label>
                {{ form.cpf(class="form-control") }}
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                {{ form.email(class="form-control") }}
            </div>
            <div class="mb-3">
                <label for="telefone" class="form-label">Telefone</label>
                {{ form.telefone(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Adicionar</button>
            <a href="/clientes" class="btn btn-secondary">Cancelar</a>
        </form>
    </main>
</body>
{% endblock %}