{% extends "base.html" %}

{% block title %}Painel Administrativo{% endblock %}

{% block content %}
    <main class="container my-5">
        <h2>Adicionar Serviço</h2>
        <form method="post" action="{{ url_for('add_servico') }}" display="inline;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="mb-3">
                <label for="nome_projeto" class="form-label">Nome do Projeto</label>
                <input type="text" class="form-control" id="nome_projeto" name="nome_projeto" required>
            </div>
            <div class="mb-3">
                <label for="cliente_id" class="form-label">Cliente</label>
                <select class="form-control" id="cliente_id" name="cliente_id" required>
                    {% for cliente in clientes %}
                    <option value="{{ cliente.id }}">{{ cliente.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="data_entrada" class="form-label">Data de Entrada</label>
                <input type="date" class="form-control" id="data_entrada" name="data_entrada" required>
            </div>
            <div class="mb-3">
                <label for="data_prazo" class="form-label">Data Prazo</label>
                <input type="date" class="form-control" id="data_prazo" name="data_prazo" required>
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <select class="form-control" id="status" name="status" required>
                    <option value="Entrada">Entrada</option>
                    <option value="Em andamento">Em andamento</option>
                    <option value="Lixa">Lixa</option>
                    <option value="Marcenaria">Marcenaria</option>
                    <option value="Pintura">Pintura</option>
                    <option value="Terceirizado">Terceirizado</option>
                    <option value="Vistoria">Vistoria</option>
                    <option value="Entregue">Entregue</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="detalhes" class="form-label">Detalhes</label>
                <textarea class="form-control" id="detalhes" name="detalhes" required></textarea>
            </div>
            <div class="mb-3">
                <label for="material_adicional" class="form-label">Material Adicional</label>
                <textarea class="form-control" id="material_adicional" name="material_adicional" required></textarea>
            </div>
            <div class="mb-3">
                <label for="valor" class="form-label">Valor</label>
                <input type="number" class="form-control" id="valor" name="valor" required>
            </div>
            <div class="mb-3">
                <label for="quem_recebeu" class="form-label">Quem Recebeu</label>
                <input type="text" class="form-control" id="quem_recebeu" name="quem_recebeu" required>
            </div>
            <div class="mb-3">
                <label for="aprovacao" class="form-label">Aprovação</label>
                <input type="text" class="form-control" id="aprovacao" name="aprovacao" required>
            </div>
            <div class="mb-3">
                <label for="data_entregue" class="form-label">Data de Entrega</label>
                <input type="date" class="form-control" id="data_entregue" name="data_entregue">
            </div>
            <div class="mb-3">
                <label for="quem_retirou" class="form-label">Quem Retirou</label>
                <input type="text" class="form-control" id="quem_retirou" name="quem_retirou">
            </div>
            <button type="submit" class="btn btn-primary">Adicionar</button>
            <button type="reset" class="btn btn-secondary">Limpar</button>
            <button type="button" class="btn btn-danger" onclick="window.location.href='/servicos'">Cancelar</button>
        </form>
    </main>
{% endblock %}