{% extends "base.html" %}

{% block title %} Editar Ferramentas {% endblock %}

{% block content %}
    <main class="container my-5">
        <h2>Editar Ferramenta</h2>
        <form action="{{ url_for('edit_ferramenta', id=ferramenta.id) }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" value="{{ ferramenta.nome }}" required>
            </div>
            <div class="mb-3">
                <label for="quantidade" class="form-label">Quantidade</label>
                <input type="number" class="form-control" id="quantidade" name="quantidade" value="{{ ferramenta.quantidade }}" required>
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <select class="form-control" id="status" name="status" required>
                    <option value="Disponível" {% if ferramenta.status == 'Disponível' %}selected{% endif %}>Disponível</option>
                    <option value="Em uso" {% if ferramenta.status == 'Em uso' %}selected{% endif %}>Em uso</option>
                    <option value="Manutenção" {% if ferramenta.status == 'Manutenção' %}selected{% endif %}>Manutenção</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="reset" class="btn btn-secondary">Limpar</button>
            <button type="button" class="btn btn-danger" onclick="window.location.href='/ferramentas'">Cancelar</button>
        </form>
    </main>

{% endblock %}