{% extends 'base.html' %}

{% block title %}Estoque{% endblock %}

{% block content %}

    <main class="container my-5">
        <h2>Editar Estoque</h2>
        <form action="{{ url_for('edit_estoque', id=item.id) }}" method="POST" display="inline">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="mb-3">
                <label for="produto" class="form-label">Produto</label>
                <input type="text" class="form-control" id="produto" name="produto" value="{{ item.produto }}" required>
            </div>
            <div class="mb-3">
                <label for="quantidade" class="form-label">Quantidade</label>
                <input type="number" class="form-control" id="quantidade" name="quantidade" value="{{ item.quantidade }}" required>
            </div>
            <div class="mb-3">
                <label for="tipo_movimentacao" class="form-label">Tipo de Movimentação</label>
                <select class="form-control" id="tipo_movimentacao" name="tipo_movimentacao">
                    <option value="entrada" {% if item.tipo_movimentacao == 'entrada' %}selected{% endif %}>Entrada</option>
                    <option value="saida" {% if item.tipo_movimentacao == 'saida' %}selected{% endif %}>Saída</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="data" class="form-label">Data</label>
                <input type="date" class="form-control" id="data" name="data" value="{{ item.data }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="/estoque" class="btn btn-secondary">Cancelar</a>
            <a href="{{ url_for('entrada_estoque', id=item.id) }}" class="btn btn-success">Entrada</a>
            <a href="{{ url_for('baixa_estoque', id=item.id) }}" class="btn btn-danger">Baixa</a>
        </form>
    </main>

    <main class="container my-5">
        <h2>Histórico de Movimentações</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Quantidade</th>
                    <th>Tipo de Movimentação</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for historico in item.historico %}
                <tr>
                    <td>{{ historico.id }}</td>
                    <td>{{ historico.quantidade }}</td>
                    <td>{{ historico.tipo_movimentacao }}</td>
                    <td>{{ historico.data }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock %}
