{% extends 'base.html' %}

{% block title %}Estoque{% endblock %}

{% block content %}

    <main class="container my-5">
        <h2>Editar Estoque</h2>
        <form action="{{ url_for('edit_estoque', id=item.id) }}" method="POST" display="inline">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="mb-3">
                <label for="produto" class="form-label">Produto</label>
                <input type="text" class="form-control" id="produto" name="produto" value="{{ item.produto }}" required>
            </div>
            <div class="mb-3">
                <label for="quantidade" class="form-label">Quantidade</label>
                <input type="number" class="form-control" id="quantidade" name="quantidade" value="{{ item.quantidade }}" required>
            </div>
            <div class="mb-3">
                <label for="tipo_movimentacao" class="form-label">Tipo de Movimentação</label>
                <select class="form-control" id="tipo_movimentacao" name="tipo_movimentacao">
                    <option value="entrada" {% if item.tipo_movimentacao == 'entrada' %}selected{% endif %}>Entrada</option>
                    <option value="saida" {% if item.tipo_movimentacao == 'saida' %}selected{% endif %}>Saída</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="data" class="form-label">Data</label>
                <input type="date" class="form-control" id="data" name="data" value="{{ item.data }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="/estoque" class="btn btn-secondary">Cancelar</a>
        </form>
    </main>

{% endblock %}
