{% extends 'base.html' %}

{% block title %}Detalhes do Serviço{% endblock %}

{% block content %}
    <main class="container my-5">
        <h2>{{ servico.nome_projeto }}</h2>
        <p><strong>ID:</strong> {{ servico.id }}</p>
        <p><strong>Cliente:</strong> {{ servico.nome_cliente }}</p>
        <p><strong>Data de Entrada:</strong> {{ servico.data_entrada }}</p>
        <p><strong>Data Prazo:</strong> {{ servico.data_prazo }}</p>
        <p><strong>Status:</strong> {{ servico.status }}</p>
        <p><strong>Observações:</strong> {{ servico.detalhes }}</p>
        <p><strong>Material Adicional:</strong> {{ servico.material_adicional }}</p>
        <p><strong>Valor:</strong> {{ servico.valor }}</p>
        <p><strong>Quem Recebeu:</strong> {{ servico.quem_recebeu }}</p>
        <p><strong>Aprovação:</strong> {{ servico.aprovacao }} </p>
        <p><strong>Data Entregue:</strong> {{ servico.data_entregue }}</p>
        <p><strong>Quem Retirou:</strong> {{ servico.quem_retirou }}</p>
        <a href="{{ url_for('edit_servico', id=servico.id) }}" class="btn btn-warning">Editar</a>
        <form action="{{ url_for('delete_servico', id=servico.id) }}" method="post" style="display:inline;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
        <a href="{{ url_for('lista_servicos') }}" class="btn btn-secondary">Voltar</a>
    </main>
{% endblock %}